<h1><%= @surgery.title %></h1>
<br>
<p>Operating Room: <%= @surgery.operating_room %></p>

<section id='surgery-<%= @surgery.id%>'>
 <h2>Other surgeries happening this day of the week:</h2>

 <%  @surgery.additional_surgeries_today.each do |surgery| %>
  <li> <%= surgery %></li>
 <% end %>
</section>
